{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="/static/mystyles.css">

{% block title %}About Me{% endblock %}

{% block body %}
<div class="homepage">
    <div class="col-12">
    </div>
</div>
    <div class= "col-6"></div>

    <div class="container">

        <div class="row">
            <div class="col-3 offset-4">
            <img src="/static/Monica.jpeg", height=400px width=400px>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
            <p>
                Monica obtained her associates degree in accounting, quickly advancing in the industry 
                due to her love of learning and collaborating with others.  In the Fall of 2020 she 
                began to study programming, drawn to the problem solving aspect and the prospect of 
                learning a new and necessary skill in today's world. She realized that this newly 
                developed interest could provide her the opportunity to gain transferable skills in 
                the workforce. As her interest in coding increased, she enrolled in Hackbright's prep 
                program. After completion, she began her studies at Hackbright Academy's full-stack 
                engineering program. She hopes to continue learning and developing her backend software 
                engineering skills after graduation.
            </p>
        </div>
    </div>

    </div>

{% endblock %}