{% extends 'base.html' %}
{% block title %}About Me{% endblock %}

{% block body %}
<p>
    Monica graduated from college with an associates in accounting and shortly 
    thereafter began an internship as an accounting clerk. Thanks to her 
    enthusiasm and quick learning abilities, she was swiftly promoted to full-time, 
    and became a team lead. In the fall of 2020, she began to study programming 
    for fun, but as her interest deepened, she decided to enroll in Hackbright’s 
    prep course to learn the basics of Python. After completion, she began her 
    studies at Hackbright Academy’s full-stack developer program. Monica is passionate 
    about learning about new technologies, problem-solving, and collaborating with
    other engineers. She hopes to continue learning and developing 
    her backend software engineering skills after graduation. Monica hopes to 
    continue learning and practicing her backend software engineering skills 
    after graduation.
</p>

{% endblock %}