<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/mystyles.css">
        {% for message in get_flashed_messages() %}
                        {{ message }}
        {% endfor %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/newuser">Plant Whisperer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if logged_in == False %}
                <li class="nav-item active">
                    <a class="nav-link" href="/users/favourite_plants">My Favourite Plants <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newuser">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searching">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                </li>
                    {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/users/favourite_plants">My Favourite Plants <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searching">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <title>
        "Plant Whisperer"
        {% block title %}{% endblock %}
    </title>    
    {% block head %}
    {% endblock %}
    <!-- <link rel="stylesheet" href="/static/mystyles.css"> -->
    </head>

<body>{% block body %} 
    <div class="homepage">
        <div class="col-12">
        </div>
    </div>
        <div class= "col-6"></div>
    {% endblock %}</body>
</html> 
