{% extends 'base.html' %}
    <div class="home">  

        <link rel="stylesheet" type="text/css" href="/static/mystyles.css">
        {% block title %}{% endblock %}
        {% block body %}

            <div class="homepage">
                <div class="col-12">
                </div>
            </div>
                <div class= "col-6"></div>
                <h1>Welcome to Plant Whisperer.</h1>
                <p class="lead">Companions when you want them.</p>
                
                <p> Search a plant, view good pairings for them, favourite your plant to reference later</p>
                
                <a href="/newuser" class="btn btn-sm btn-primary">Start pairing</a>


                <footer>

                <p>For all your gardening needs.</p>

                </footer>
                </div>
            </div>      
        {% endblock %}
    </div>

