{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <!-- <img src="/static/img/????.png"> -->

        <h1>Welcome to Plant Whisperer.</h1>

        <p class="lead">Companions when you want them.</p>
        <p> Search a plant, view good pairings for them, favourite your plant to reference later</p>

        <a href="/newuser" class="btn btn-lg btn-primary">Start pairing</a>


    </div>
</div>

<footer>

    <p>For all your gardening needs.</p>

</footer>

{% endblock %}